__pycache__/
.venv/
.env
.pytest_cache/
*.pyc
.DS_Store
# Figures
# reports/figures/*.png  <-- Removed ignore to include experiment results
!reports/figures/*.png
!reports/figures/presentation/*.png
.vscode/